.footer-lg {
  height: 166px;
  background: url("/assets/img/png/flex-footer-lg.png") center center / 100% 100% no-repeat;
}

.social-media-icon-wrapper {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
}
